nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    flex-direction: row;
    align-content: ;
    height: 20%;
}

img{
    width: 200px;
}

ul{
    display: flex;
}